@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html {
	height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, button {
	cursor: pointer;
}

.application {
	display: grid;
	grid-template-columns: 14rem minmax(30rem, 100%);
	grid-template-rows: 1fr;
	grid-template-areas: "nav content";
	height: 100%;
}

.application-content {
	grid-area: 'content';
	max-height: 100vh;
	overflow-y: auto;
}

.application-nav {
	grid-area: 'nav';
}
